[Unit]
Description=Shadowsocks Server
After=network.target

[Service]
User=nobody
ExecStart=/opt/shadowsocks/ssserver -c /usr/local/etc/shadowsocks/%i.json
Restart=on-abort

[Install]
WantedBy=multi-user.target
